<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @page.question %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @page.notes %>
</p>

<p>
  <strong>Upvotes:</strong>
  <%= @page.upvotes %>
</p>


<%= audio_tag (@audio) %>
<p class="btn btn-primary audioButton"> Play </p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>

<div id="disqus_thread"></div>
<script>

var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//eduhub.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
